<!--
<div class="detail-section">
  <div class="container-fluid">
    <div class="product-descripton-page">
      <img src="{{product.imageUrl}}" class="detail-img" alt="{{product.name}}">
    </div>
    <div class="product-descripton-page">
      <h3> {{product.name}} </h3>
    </div>
    <div class="product-descripton-page">
      <div class="price-v2">{{product.unitPrice | currency : 'EUR'}}</div>
    </div>
    <div class="product-descripton-page">
      <a href="#" class="primary-btn-v2">Add To Cart</a>
    </div>
    <hr>
    <div class="product-descripton-page"><h4>Description</h4></div>
    <div class="product-descripton-page">
      <p>{{product.description}}</p>
    </div>
  </div>
</div>
-->
<div class="detail-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="product-descripton-page">
          <img src="{{product.imageUrl}}" class="detail-img img-fluid" alt="{{product.name}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-descripton-page">
          <h3> {{product.name}} </h3>
        </div>
        <div class="product-descripton-page">
          <div class="price-v2">{{product.unitPrice | currency : 'EUR'}}</div>
        </div>
        <div class="product-descripton-page">
          <a href="#" class="primary-btn-v2">Add To Cart</a>
        </div>
        <hr>
        <div class="product-descripton-page"><h4>Description</h4></div>
        <div class="product-descripton-page">
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

