<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName" title="First Name" placeholder="a">
                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName" title="Last Name" placeholder="a">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>e-mail</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email" title="email" placeholder="a">
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" title="Street" placeholder="a">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" title="city" placeholder="a">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of shippingAddressStates"[ngValue]="state">
                    {{state.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode" title="zipcode" placeholder="a">
              </div>
            </div>
          </div>
        </div>
          <div>
            <label class="au-checkbox">
              <input type="checkbox"(change)="copyShippingAddressToBillingAddress($event)">
              <label style="padding-left: 4%;">
                <p>Billing Address Same As Shipping Address</p>
              </label>
              <span class="au-checkmark" ></span>
            </label>
          </div>
          <label></label>
          <div formGroupName="billingAddress" class="form-area">
            <h3>Billing Address</h3>
            <div class="row">
              <div class="col-md-2"><label>Country</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="country" (change)="getStates('billingAddress')">
                    <option *ngFor="let country of countries" [ngValue]="country">
                      {{country.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Street</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="street" title="Street" placeholder="a">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><label>City</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="city" title="city" placeholder="a">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-2"><label>State</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="state">
                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                      {{state.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-2"><label>Zip Code</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="zipCode" title="zipcode" placeholder="a">
                </div>
              </div>
            </div>
          </div>


        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
            <div class="row">
              <div class="col-md-2"><label>Card Type</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="cardType" name="" id="">
                    <option value="">Visa</option>
                    <option value="">Mastercard</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Name on Card</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="nameOnCard" title="Street" placeholder="a">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Card Number</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="cardNumber" title="Street" placeholder="a">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Security Code</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="securityCode" title="Street" placeholder="a">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Expration Month</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="expreationMonth">
                    <option *ngFor="let month of creditCardMonths">{{month}}</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Expration Year</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="expreationYear" (change)="handleMonthsAndYears()">
                    <option *ngFor="let year of creditCardYears">{{year}}</option>
                    </select>
                </div>
              </div>
            </div>
        </div>

        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{totalQuantity}}</p>
          <p>Shipping: Free</p>
          <p>Total Price : {{totalPrice | currency: 'EUR'}}</p>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info" title="purchase">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
